<!DOCTYPE HTML>
<html>
<head>
  <title>Cheat</title>
  <script src="//code.jquery.com/jquery-1.12.4.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
  <script src="static/js/application.js"></script>
</head>
<form id="broadcast">
  <input type="text" id="broadcast_data" placeholder="Message">
  <input type="submit">
</form>
<p>Logs from server:</p>
<div id="log"></div>