<!DOCTYPE HTML>
<html>
<head>
  <title>Cheat</title>
  <script src="//code.jquery.com/jquery-1.12.4.min.js"></script>
  <script src="static/js/socket.io.js"></script>
  <script src="static/js/application.js"></script>
</head>
<form id="message_sender">
  Type in your name:
  <input type="text" id="player_name" placeholder="Bobby">
  <input type="submit">
</form>
<form id="start_game">
  <input id="start_game_button" type="submit" value="Start Game">
</form>
<form id="end_game">
  <input id="end_game_button" type="submit" value="End Game">
</form>
<br>
<form id="leave_game">
  <input id="lave_game_button" type="submit" value="Leave Game">
</form>
<br>The game is: <b><span id="game_status"></span></b><br>
<br><span id="player_status"></span><br>
<br><i><span id="list_of_players"></span></i>
<div id="log"></div>
<br><i>Log:</i>
<div id="messages"></div>